.grid {
    width: 666px;
    height: 666px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 200px;
    width: 200px;
    border: solid black 2px;
}

.mole {
    background-color: blue;
}